body {
    font-family: Arial, sans-serif;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .item-image img {
    width: 100px;
    height: auto;
  }
  
  .item-details {
    flex-grow: 2;
    margin-left: 20px;
  }
  
  .item-details h2 {
    font-size: 18px;
    margin: 0;
  }
  
  .item-details p {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0;
  }
  
  .item-quantity {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .qty-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
  }
  
  .quantity {
    margin: 0 10px;
    font-size: 18px;
  }
  
  .item-price {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .item-price p {
    margin: 0;
  }

  .navbar-nav {
    margin: 0 auto;
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  
  .d-flex {
    justify-content: flex-end;
  }
  
  .d-flex a.btn {
    padding: 0px 1px;
    font-size: 14px;
  }
  
  .d-flex a.btn i {
    margin-right: 2px;
  }
  .contents {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
  
  h3 {
    margin: 0;
  }
  
  h3.text-white {
    color: white;
    font-size: 20px;
  }
  #cartCount {
    display: inline-block;
    margin-left: 8px;
    padding-right: 10px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    position: relative;
    top: 8px; 
  }

.d-flex a.btn {
  padding: 8px 12px; 
  font-size: 14px;
}

.d-flex a.btn i {
  margin-right: 4px;
}

#cartCount {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  position: relative;
  top: 0px; 
}